body{
    background-color: #fafafa;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #192b33;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555555; 
}